<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Prototype With YT-API</title>
</head>
<body>
    <form action="/retrieveVideo" method="POST">
        <p> Retrieve subtitles from a YouTube video link </p>
        <input class="input-text" type="text" name="videoURL" placeholder="Youtube Link URL:" required>
        <input class="input-submit" type="submit" value="Submit">
    </form>
</body>
</html>